* {
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  height: 70px;
}

.header ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header ul li {
  padding: 5px 20px;
}

li {
  list-style: none;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.main > .container {
  width: 80%;
}

label {
  display: inline-block;
  width: 100px;
  padding: 5px;
  margin: 5px;
}

input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 2px;
  margin: 5px;
  outline: none;
}

input[type="button"] {
  padding: 5px;
  margin: 5px;
  border: none;
  background-color: #ddd;
}
