* {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  height: 100vh;
}

#root {
  height: max-content;
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
  height: calc(100vh - 71px);
  display: flex;
  justify-content: center;
  z-index: 0;
}

.header {
  width: 100%;
  height: 70px;
  position: sticky;
  top: 0;
  border: none;
  border-bottom: #ddd 1px solid;
  background-color: #fff;
  z-index: 1;
}

.header ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header ul li {
  padding: 5px 20px;
}

li {
  list-style: none;
}

.main > .container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

label {
  display: inline-block;
  width: 100px;
  padding: 2px;
  margin: 5px;
}

input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 2px;
  margin: 5px;
  outline: none;
}

input[type="button"] {
  padding: 5px;
  margin: 5px;
  border: none;
  background-color: #ddd;
}

.valid-ck {
  font-size: 9px;
  color: red;
  margin: 0 10px;
}

.room {
  display: flex;
  flex-direction: row;
  border: none;
}

.rooms {
  display: flex;
  flex-direction: row;
  padding: 5px;
  border: none;
  border-bottom: 1px #9ca3af solid;
}

.rooms div {
  padding: 10px;
  color: #9ca3af;
}

a {
  text-decoration: none;
}

.rooms:hover {
  display: flex;
  flex-direction: row;
  padding: 5px;
  border: none;
  border-bottom: 1px #9ca3af solid;
  background-color: blue;
}

.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.title {
  margin: 20px 10px;
}

.talk {
  display: flex;
  flex-direction: column;
  /* overflow-x: scrool; */
  overflow: auto;
}

.partner {
  width: auto;
  padding: 10px;
}

.partner .info {
  width: 100px;
}

.partner .text {
  width: 400px;
  padding: 10px;
  border: #ddd 1px solid;
  border-radius: 5px;
  word-break: break-all;
}

.user {
  width: auto;
  margin-left: auto;
  padding: 10px;
}

.user .info {
  width: 100px;
  margin-left: auto;
  text-align: end;
}

.user .text {
  width: 400px;
  padding: 10px;
  border: #ddd 1px solid;
  border-radius: 5px;
  word-break: break-all;
  text-align: end;
}

.container .input {
  width: auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  margin-top: auto;
  z-index: 1;
  position: sticky;
  border: none;
  bottom: 0;
  background-color: #fff;
}

.input .input-text {
  width: calc(100% - 80px);
}

.input input[type="button"] {
  width: 80px;
}

.room .title {
  font-size: 30px;
  margin: 10px 0;
}

.system {
  width: auto;
  padding: 10px 0;
  margin: auto;
}

.system .info {
  height: 0;
}

.system .text {
  width: auto;
  padding: 5px 10px;
  border: #ddd 1px solid;
  border-radius: 5px;
  word-break: break-all;
  text-align: center;
}

.auth-container {
  width: auto;
  display: flex;
  max-height: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
