* {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  height: 100vh;
}

#root {
  height: max-content;
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
  height: calc(100vh - 71px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
}

.header {
  width: 100%;
  height: 70px;
  border: none;
  border-bottom: #ddd 1px solid;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

.header div {
  margin: auto;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.header .logo img {
  /* width: 48px; */
  height: 36px;
}

.header .logo .logo-text1 {
  color: #28c7f7;
}

.header .logo .logo-text2 {
  color: #fdbf00;
}

.header ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header ul li {
  padding: 5px 20px;
}

li {
  list-style: none;
}

.main-container {
  height: 100%;
}

.main .main-container .container {
  height: calc(100% - 500px);
}

.main .container {
  width: 100%;
  max-width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.advertisement {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

label {
  display: inline-block;
  width: 100px;
  padding: 2px;
  margin: 5px;
}

input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 2px;
  margin: 5px;
  outline: none;
}

input[type="button"] {
  padding: 5px;
  margin: 5px;
  border: none;
  background-color: #ddd;
}

.valid-ck {
  font-size: 9px;
  color: red;
  margin: 0 10px;
}

.room {
  display: flex;
  flex-direction: row;
  border: none;
}

.room .room-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.room .room-header input {
  width: 100px;
  height: 35px;
  border-radius: 5px;
}

.room .title {
  font-size: 30px;
  margin: 10px 0;
}

.rooms {
  display: flex;
  flex-direction: row;
  padding: 5px;
  border: none;
  border-bottom: 1px #9ca3af solid;
  color: #9ca3af;
}

.rooms div {
  padding: 10px;
}

.rooms .number {
  width: 5%;
  text-align: center;
}

.rooms .title {
  width: 30%;
  margin: 0;
  text-align: start;
}

.rooms .comment {
  width: 55%;
  text-align: start;
}

.rooms .count {
  width: 10%;
  text-align: center;
}

.rooms:hover {
  display: flex;
  flex-direction: row;
  padding: 5px;
  border: none;
  color: blue;
  border-bottom: 1px blue solid;
}

a {
  text-decoration: none;
}

.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.title {
  margin: 20px 10px;
}

.talk {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.partner {
  width: auto;
  padding: 10px;
}

.partner .text {
  width: 400px;
  padding: 10px;
  border: #ddd 1px solid;
  border-radius: 5px;
  word-break: break-all;
}

.user {
  width: auto;
  margin-left: auto;
  padding: 10px;
}

.user .info {
  margin-left: auto;
  text-align: end;
}

.user .text {
  width: 400px;
  padding: 10px;
  border: #ddd 1px solid;
  border-radius: 5px;
  word-break: break-all;
  text-align: end;
}

.user .date {
  text-align: end;
}

.container .input {
  width: auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  margin-top: auto;
  z-index: 1;
  position: sticky;
  border: none;
  bottom: 0;
  background-color: #fff;
}

.input .input-text {
  width: calc(100% - 80px);
}

.input input[type="button"] {
  width: 80px;
}

.system {
  width: auto;
  padding: 10px 0;
  margin: auto;
}

.system .info {
  height: 0;
}

.system .text {
  width: auto;
  padding: 5px 10px;
  border: #ddd 1px solid;
  border-radius: 5px;
  word-break: break-all;
  text-align: center;
}

.auth-container {
  width: auto;
  display: flex;
  max-height: 700px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-container #form {
  padding: 30px 40px;
  border: #ddd 1px solid;
}

.auth-container #form .title {
  text-align: center;
  margin: 0 0 10px 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.auth-container #form input[type="button"] {
  width: calc(100% - 10px);
  margin: 20px 5px;
}

.input-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #707070;
  opacity: 0.8;
}

.input-name-container {
  display: flex;
  align-self: center;
  justify-content: center;
  height: 150px;
  width: 300px;
  padding: 20px;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 100px 0;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  border-radius: 10px;
}

.input-name-container .title {
  margin: 0px;
  font-size: 1.2rem;
  text-align: center;
}

.input-name-container .input-name {
  display: flex;
  flex-direction: row;
  margin: 30px 0 0 0;
  padding: 10px;
}

.input-name .input-text {
  width: calc(100% - 50px);
}

.input-name input[type="button"] {
  width: 50px;
}

.logout {
  cursor: pointer;
}
